/* font family */

@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital@0;1&display=swap');

/* main code */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
}

body {
    overflow-x: hidden;
    scroll-padding-top: 7rem;
    scroll-behavior: smooth;
    transition: all 0.2s linear;
}


/* universal code */

.transition {
    transition: all 0.5s;
}

input {
    border: none;
    outline: none;
    width: 100%;
}

i,
.pointer {
    cursor: pointer;
}

h1 {
    font-weight: 700;
    font-size: 56px;
    line-height: 140%;
    /* or 78px */
    letter-spacing: -0.03em;
    color: #000000;
    margin: 0;
}

h2 {
    font-weight: 700;
    font-size: 36px;
    line-height: 140%;
    /* or 50px */
    letter-spacing: -0.03em;
    color: #000000;
    margin: 0;
}

h3 {
    font-weight: 700;
    font-size: 28px;
    line-height: 140%;
    /* or 39px */
    letter-spacing: -0.03em;
    color: #000000;
    margin: 0;
}

h4 {
    font-weight: 400;
    font-size: 28px;
    line-height: 140%;
    /* or 25px */
    color: #000000;
    margin: 0;
}

h5 {
    font-weight: 400;
    font-size: 24px;
    line-height: 140%;
    /* or 39px */
    color: rgba(0, 0, 0, 0.5);
    margin: 0;
}

h6 {
    font-weight: 400;
    font-size: 22px;
    line-height: 140%;
    /* or 31px */
    color: rgba(0, 0, 0, 0.5);
    margin: 0;
}

p {
    font-weight: 400;
    font-size: 18px;
    line-height: 140%;
    /* or 25px */
    color: rgba(0, 0, 0, 0.5);
    margin: 0;
}

button {
    border: none;
    outline: none;
    display: flex;
    align-items: center;
    margin: 0;
}

.btn-white {
    background: #F5F5F5;
    border-radius: 12px;
    padding: 10px 20px;
    box-shadow: 0px 10px 50px -20px rgba(0, 0, 0, 0.2), 0px 1px 5px rgba(0, 0, 0, 0.1), 0px 2px 5px -1px rgba(0, 0, 0, 0.1);
}

.btn-white a {
    font-weight: 500;
    font-size: 20px;
    line-height: 140%;
    /* identical to box height, or 28px */
    color: #000000;
    text-decoration: none;
}

.btn-blue {
    background: #3DA2FF;
    box-shadow: 0px 4px 4px rgba(61, 162, 255, 0.15);
    border-radius: 12px;
    padding: 10px 20px;
}

.btn-blue a {
    font-weight: 500;
    font-size: 20px;
    line-height: 140%;
    /* identical to box height, or 28px */
    color: #FFFFFF;
    text-decoration: none;
}

.border {
    box-shadow: 0px 10px 50px -20px rgba(0, 0, 0, 0.2), 0px 1px 5px rgba(0, 0, 0, 0.1), 0px 2px 5px -1px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}


/* navbar */

nav {
    width: 100%;
    height: 60px;
    background: linear-gradient(247.48deg, #51ABFF -13.55%, #BD00FF 108.84%);
}

nav button {
    color: #fff;
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
    padding: 6px 8px 4px;
    margin-right: 10px;
}

naw button a {
    font-weight: 700;
    font-size: 12px;
    line-height: 12px;
    /* identical to box height */
    letter-spacing: 0.05em;
    color: #973EFF;
}

#fixed {
    position: fixed;
    width: 100%;
}

.m-navbar {
    width: 100%;
    min-height: 100px;
    z-index: 99;
    background: rgb(253, 252, 252);
}

.setting span {
    padding: 10px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    background: #F5F5F5;
}

.m-navbar .text {
    margin: 0 10px;
    font-size: 20px;
}

.ml-5 {
    margin-left: 50px;
}


/* hero */

.hero {
    width: 100%;
    min-height: 550px;
    padding-top: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* Top */

.top {
    width: 100%;
    min-height: 500px;
}

.top .blue {
    color: blue;
    cursor: pointer;
}

.top .margin {
    padding: 50px 0;
}


/* .top .m-card1 {} */

.top .m-card1 .img {
    min-height: 312px;
    background: linear-gradient(248.96deg, #51ABFF 0%, #BD00FF 100.87%);
    border-start-start-radius: 20px;
    border-start-end-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.top .m-card2 .img {
    min-height: 312px;
    background: linear-gradient(248.96deg, #FF8951 0%, #BD00FF 100.87%);
    border-start-start-radius: 20px;
    border-start-end-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}


/* mail */

.mail {
    min-height: 180px;
    margin: 80px 0;
}

.mail .border {
    padding: 20px;
}

.mail h3 {
    line-height: 28px;
}

.mail p {
    line-height: 18px;
}


/* recent */

.recent .container .row:last-child {
    margin: 70px 0;
}

.recent .blue {
    color: blue;
    cursor: pointer;
}

.recent .m-card1 .img {
    min-width: 100%;
    min-height: 220px;
    background: linear-gradient(248.96deg, #51ABFF 0%, #BD00FF 100.87%);
    border-start-start-radius: 20px;
    border-start-end-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.recent .m-card2 .img {
    min-width: 100%;
    min-height: 220px;
    background: linear-gradient(248.96deg, #FF8951 0%, #BD00FF 100.87%);
    border-start-start-radius: 20px;
    border-start-end-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.recent .m-card3 .img {
    min-width: 100%;
    min-height: 220px;
    background: linear-gradient(248.96deg, #FF3F3F 0%, #00FFD1 100.87%);
    border-start-start-radius: 20px;
    border-start-end-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.recent .first-child {
    padding-left: 0;
    padding-right: 24px;
}

.recent #last-child {
    padding-left: 24px;
    padding-right: 0;
}


/* categories */

.categories {
    margin: 70px 0;
}

.categories .blue {
    color: blue;
    cursor: pointer;
}

.categories .code {
    min-height: 180px;
    background: linear-gradient(248.96deg, #FF8951 0%, #BD00FF 100.87%);
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    font-size: 28px;
    line-height: 28px;
    letter-spacing: -0.03em;
    color: #FFFFFF;
}

.categories .design {
    min-height: 180px;
    background: linear-gradient(248.96deg, #51ABFF 0%, #BD00FF 100.87%);
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    font-size: 28px;
    line-height: 28px;
    letter-spacing: -0.03em;
    color: #FFFFFF;
}

.categories .prototyping {
    min-height: 180px;
    background: linear-gradient(248.96deg, #FF8951 0%, #FF3F3F 100.87%);
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    font-size: 28px;
    line-height: 28px;
    letter-spacing: -0.03em;
    color: #FFFFFF;
}

.categories .row:last-child {
    margin: 70px 0;
}

.categories .first-child {
    padding-left: 0;
    padding-right: 24px;
}

.categories .last-child {
    padding-left: 24px;
    padding-right: 0;
}


/* footer */

.footer {
    margin: 20px 50px 100px;
}

.footer h4 {
    font-size: 22px;
}

.footer p {
    font-size: 18px;
}

.footer .row:first-child {
    padding: 100px 100px 0 150px;
}

.footer .row:last-child {
    min-height: 50px;
    margin-top: 100px;
}

.footer .bg-danger {
    margin-right: 1px;
}